

body
{
background-color: beige;
}

h1
{
font-size: 300px;
color: darkblue;
margin: 0px;
text-align: center;
text-shadow: 5px 15px darkgray;

}

h2
{
   font-size: 40px;
   word-spacing: 20px;
}

p
{
font-size: 30px;
line-height: 20px;
text-indent: 20px;
text-decoration: none;

}